<div id="pacotes" class="flex flex--center">
  <% plans.forEach(function(plan) { %>
    <div class="col col--12 col__md--12 col__lg--4">
      <div class="content-block <%= plan.id %>">
        <div class="block__content text-center">
          <figure class="block__image"><img src="images/<%= plan.id %>.png" alt="Pacote Droid"></figure>
          <h2 class="content__title"><%= plan.title %></h2>
          <p class="block__desc"><%= plan.desc %></p>
          <button class="md-trigger btn--assinar <%= plan.id %> md-setperspective" data-modal="modal-<%= plan.id %>">assinar</button>
        </div>
      </div>
    </div>
  <% }); %>
</div>
